{%extends "base.html"%}


{% block content %}

<div col-2>
    <a href="{%url 'contact'%}" class="btn btn-primary mt-5">Retour</a>
</div>
<div class="row">
    
    <div class="col-md-6 m-auto">
        <h1 class="text-center">Détail du contact</h1>
        <h4 class="text-center">
            {{contact.name}} {{contact.lastname}}
        </h4>
        <div class="card card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
             Email: {{contact.email|default_if_none:"non renseigné"}}
            </li>
            <li class="list-group-item">
             Phone: {{contact.phonenumber}}
            </li>
            <li class="list-group-item">
                Date: {{contact.date|date:"d-m-Y"}}
               </li>
          
        </ul>
        <div class="mt-2">
            <a href="{% url 'edit_contact' contact.id%}" class="btn btn-primary">Modifier</a>
            <a href="{% url 'delete_contact' contact.id%}" class="btn btn-danger">Supprimer</a>
        </div>
      
        </div>
    </div>
</div>
{% endblock %}